@page "/login"
@using LearningManagementSystem.App.Auth
@using LearningManagementSystem.App.ViewModels
@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider
@inject IJSRuntime JSRuntime

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<style>
    body {
        background-color: #f4f4f4;
        color: #333;
    }

    .card {
        border-radius: 10px;
    }

    .column-right-content {
        margin-top: -50px; 
    }

    .login-form-col {
        max-width: 37%; 
        width: 100%;
    }

    .register-link {
        text-decoration: underline;
    }

    .font-weight-normal:hover {
        text-decoration: none;
    }

    .container-fluid {
        margin: 0;
        padding: 5%;
    }

    .custom-gmail-btn {
        background-color: #f2f2f2;
        color: black;
        border: none;
        outline: none; 
    }

    .register-message {
        margin-top: -30px; 
    }

    .custom-login-btn {
        background-color: #ff9404;
        color: white;
        border: none;
        outline: none; 
    }

        .custom-login-btn:hover {
            background-color: #fcba5c;
            color: black;
            border: none;
            outline: none;
        }

    .custom-gmail-btn:hover {
        background-color: #fcba5c;
        color: black;
        border: none;
        outline: none;
    }

    .review-container {
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    @@media (max-width: 768px) {
        .navbar {
            position: relative;
        }

        .column-left-content,
        .column-right-content {
            margin-top: 50px;
        }

        .login-form-col {
            max-width: 100%;
        }

        .justify-content-md-center {
            justify-content: start !important;
        }

        .flex-column {
            flex-direction: column !important;
        }
    }
</style>

<div class="container-fluid bg-light">
    <div class="row justify-content-md-center">
        <div class="col-md-6 column-left-content">
            <!-- Coloana din stânga (Mesaj) -->
            <div class="d-flex align-items-lg-start justify-content-center h-100">
                <div class="text-left">
                    <h2>Learning Management System</h2>
                    <p>
                        Welcome to Learning Management System, the ultimate online platform for learning and development. Whether you are a student, a teacher, or a professional, you can find a variety of courses that suit your needs and interests. You can access the courses anytime, anywhere, and at your own pace. You can also interact with other learners and instructors, share your feedback, and track your progress. At the end of each course, you will have the opportunity to evaluate your learning through quizzes, assignments, or projects. You will also receive a certificate of completion that you can showcase on your resume or portfolio.
                    </p>
                    <div class="review-container">
                        <p style="padding:15px;">
                            "Learning Management System is more than just a website; it is a community of learners who are passionate about acquiring new skills and knowledge. Join us today and discover the benefits of online learning."
                        </p>
                        <hr class="my-3 w-100 mx-auto" style="border-color: rgba(0, 0, 0, 0.2); ">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 login-form-col column-right-content ml-auto">
            <!-- Coloana din dreapta (Formular de login) -->
            <div class="card">
                <div class="card-body">
                    <h1 class="h2 font-weight-normal login-title text-center">
                        Login
                    </h1>
                    <p class="text-center">Welcome back! Please log in to access your account!</p>

                    <EditForm class="form-login" OnValidSubmit="OnSubmit" Model="loginRequest">
                        <DataAnnotationsValidator />

                        <div class="form-group">
                            <label for="inputUsername" class="sr-only">Username</label>
                            <label>Username</label>
                            <InputText id="inputUsername" class="form-control" @bind-Value="loginRequest.Username" autofocus placeholder="Enter your username" />
                            <ValidationMessage For="@(() => loginRequest.Username)" />
                        </div>

                        <div class="form-group">
                            <label for="inputPassword" class="sr-only">Password</label>
                            <label>Password</label>
                            <InputText type="password" id="inputPassword" class="form-control" placeholder="Enter your password" @bind-Value="loginRequest.Password" />
                            <ValidationMessage For="@(() => loginRequest.Password)" />
                        </div>

                        <div class="form-group">
                            <div class="d-flex flex-column">
                                <NavLink href="/forgot-password" class="ml-auto text-dark">
                                    <small>Forgot password?</small>
                                </NavLink>

                                <button class="btn btn-lg btn-primary btn-block mt-3 custom-login-btn" type="submit">Login</button>
                                <hr class="my-3 w-100 mx-auto">

                            </div>
                        </div>

                        <div class="form-group text-center">
                            <label class="text-danger">@error</label>
                        </div>

                        <div class="form-group text-center register-message">
                            <h6 class="font-weight-normal">Don't have an account? <NavLink class="register-link" href="register">Sign up</NavLink></h6>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    LoginViewModel loginRequest { get; set; } = new LoginViewModel();
    string error { get; set; }

    async Task OnSubmit()
    {
        error = null;
        try
        {
            await authStateProvider.Login(loginRequest);
            navigationManager.NavigateTo("/");
            await JSRuntime.InvokeVoidAsync("location.reload");
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}