@using LearningManagementSystem.App.Auth
@using LearningManagementSystem.App.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject CustomAuthenticationStateProvider AuthStateProvider
@inject RoleAuthorizationService AuthorizationService

<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">GlobalBuyTicket.App</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>
			<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
				<Microsoft.AspNetCore.Components.Authorization.AuthorizeView.Authorized>

					<div class="nav-item px-3">
						<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
							<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
						</NavLink>
					</div>

					<div class="nav-item px-3">
						<NavLink class="nav-link" href="categoryoverview">
							<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Categories
						</NavLink>
					</div>

					<div class="nav-item px-3">
						<NavLink class="nav-link" href="addcategory">
							<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Add Category
						</NavLink>
					</div>

					<div class="nav-item px-3">
                        <NavLink class="nav-link" href="courseoverview">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Courses
                        </NavLink>
					</div>
					
					<div class="nav-item px-3">
						<NavLink class="nav-link" href="addcourse">
							<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Add Courses
						</NavLink>
					</div>

					<div class="nav-item px-3">
						<NavLink class="nav-link" href="addchapter">
							<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Add Chapter
						</NavLink>
					</div>

					<div class="nav-item px-3">
						<NavLink class="nav-link" href="chapteroverview">
							<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Chapters
						</NavLink>
					</div>

					@* <div class="nav-item px-3">
                        <NavLink class="nav-link" href="addlesson">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> 
                        </NavLink>
					</div> *@
				</Microsoft.AspNetCore.Components.Authorization.AuthorizeView.Authorized>
			</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
		</Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private AuthenticationState authState;

	protected override async Task OnInitializedAsync()
	{
		authState = await AuthStateProvider.GetAuthenticationStateAsync();
	}

	private bool IsUserAuthenticated => authState.User.Identity.IsAuthenticated;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
