@page "/categoryoverview"
@using LearningManagementSystem.App.Contracts
@using LearningManagementSystem.App.ViewModels

<h3>Category Overview</h3>

<br />

<p><input class="custom-checkbox" type="checkbox" id="includeHistory" @onchange="OnIncludeHistoryChanged" /> Include past events?</p>

@if (Categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in Categories)
            {
                <tr>
                    <td>@cat.CategoryName</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => NavigateToCategoryCourses(cat.CategoryId)">View Courses</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Inject]
    public ICategoryDataService CategoryDataService { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    public List<CategoryViewModel> Categories { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Categories = (await CategoryDataService.GetCategoriesAsync()).ToList();
    }

    private void OnIncludeHistoryChanged(ChangeEventArgs e)
    {
        if ((bool)e.Value)
        {
            NavigationManager.NavigateTo("/categoryoverview?includeHistory=true");
        }
        else
        {
            NavigationManager.NavigateTo("/categoryoverview");
        }
    }

    private void NavigateToCategoryCourses(Guid categoryId)
    {
        NavigationManager.NavigateTo($"/getcategorycourses/{categoryId}");
    }
}
