@page "/categoryoverview"
@using LearningManagementSystem.App.Auth
@using LearningManagementSystem.App.Contracts
@using LearningManagementSystem.App.ViewModels
@inject CustomStateProvider AuthStateProvider

<h3>Category Overview</h3>

<br />

<p><input class="custom-checkbox" type="checkbox" id="includeHistory" @onchange="OnIncludeHistoryChanged" /> Include past events?</p>

@if (Categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in Categories)
            {
                <tr>
                    <td>@cat.CategoryName</td>
                    <td>@cat.Description</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => NavigateToCategoryCourses(cat.CategoryId)">View Courses</button>
                        @if(HasAdminRole)
                        {
                            <button class="btn btn-secondary" @onclick="() => NavigateToUpdateCategory(cat.CategoryId)">Update</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Inject]
    public ICategoryDataService CategoryDataService { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    public List<CategoryViewModel> Categories { get; set; }

    public bool HasAdminRole = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();

        var user = authState.User;
        var claims = user.Claims.ToList();

        //var userIdClaim = claims.FirstOrDefault(claim => claim.Type == "nameid");

        HasAdminRole = claims.Any(claim => claim.Type == "role" && claim.Value == "Admin");

        Categories = (await CategoryDataService.GetCategoriesAsync()).ToList();
    }

    private void OnIncludeHistoryChanged(ChangeEventArgs e)
    {
        if ((bool)e.Value)
        {
            NavigationManager.NavigateTo("/categoryoverview?includeHistory=true");
        }
        else
        {
            NavigationManager.NavigateTo("/categoryoverview");
        }
    }

    private void NavigateToCategoryCourses(Guid categoryId)
    {
        NavigationManager.NavigateTo($"/getcategorycourses/{categoryId}");
    }

    private void NavigateToUpdateCategory(Guid categoryId)
    {
        NavigationManager.NavigateTo($"/updatecategory/{categoryId}");
    }
}
