@page "/chapteroverview"
@using LearningManagementSystem.App.Contracts
@using LearningManagementSystem.App.ViewModels

<style>
    h3 {
        font-weight: bold;
        text-align: center;
    }

    .chapter-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .chapter-card {
        border: 1px solid #ccc;
        margin: 10px;
        padding: 20px;
        width: calc(100% / 4 - 40px); /* 4 carduri pe rând pe desktop */
        box-sizing: border-box;
        border-radius: 5px;
    }

    .chapter-header {
        display: flex;
        justify-content: space-between;
    }

    .chapter-title {
        font-size: 20px;
        margin: 0 0 10px 0;
        font-weight: bold;
    }

    .course-title,
    .chapter-link {
        margin: 0;
    }

    .view-chapter-button {
        background-color: #ff9404;
        color: white;
        border: none;
        outline: none; /* Adaugă această regulă pentru a elimina conturul albastru la focus */
        border-radius: 5px;
    }

    .view-chapter-button:hover {
        background-color: #fcba5c;
        color: black;
        border: none;
        outline: none;
    }

    @@media (max-width: 1024px) {
        /* 3 carduri pe rând pe tabletă */
        .chapter-card {
            width: calc(100% / 3 - 40px);
        }
    }

    @@media (max-width: 768px) {
        /* 2 carduri pe rând pe mobile */
        .chapter-card {
            width: calc(100% / 2 - 40px);
        }
    }
</style>


<h3>All Chapters</h3>

<br />
<div class="chapter-container">
    @if (Chapters == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @foreach (var chapter in Chapters)
        {
            <div class="chapter-card">
                <div class="chapter-header">
                    <h2 class="chapter-title">@chapter.Title</h2>
                    <p class="course-title">@chapter.Course.Title</p>
                </div>
                <p class="chapter-link">@chapter.Link</p>
                <div class="button-container">
                    <button class="view-chapter-button">View Chapter</button>
                </div>
            </div>
        }
    }
</div>


@code {
    [Inject]
    public IChapterDataService ChapterDataService { get; set; }

    public List<ChapterDto> Chapters { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Chapters = (await ChapterDataService.GetChaptersAsync()).ToList();
    }
}
